



<h1>Search Books</h1>


	<%= form_tag  :showbooks   do %>

		<%= label_tag 'Search: ' %>

		<%= text_field_tag :book_name %>

		<%= submit_tag 'Submit' %>


	<% end %>

<br/><br/>	
	<%=  'Book Borrowed:' + @books_borrowed %> <br/>

		<%=  'Book Returned:' + 	@books_returned %> <br/>

		<%=  'Book Pending:' + 			@books_pending %> <br/>

		<%=  'New Books:' + 			@new_books %> <br/>

		<%=  'New Users:' + 	@new_users %> <br/>

		<%=  'Active Users:' + 	@active_users %> <br/>

