
<% unless @author.errors.empty? %>
	<div id="error"> <%= @author.errors.full_messages %> </div> <br/>
<% end %>


<%= form_for @author , :remote => true do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.submit  %>

<% end %>

<%= link_to 'Back to Authors' ,authors_path %>