<%= will_paginate(@books) %> <br/><br/>

<% @books.each do |book| %>
	<li> Id: <%= link_to book.id  , book_path(book) %> <br/>
		Title: <%= book.title  %> <br/>
		Price :<%= book.price  %> <br/>
		Page count :<%= book.page  %> <br/>
		Available :<%= book.available  %> <br/>
		Quantity :<%= book.quantity  %> <br/>

<% if current_auth.admin == true %>

		<%= link_to_function 'Add Quantity' , "addbook('#{book.id.to_s}');" %>

		<%= link_to "edit" , edit_book_path(book) %>
		<%= link_to "delete" , book_path(book), { :method => :delete   ,:remote => true} %>

<% end %>

	</li>

	<hr/>
<% end %>

<br/><br/>
<%= will_paginate(@books) %> 
