

<%= will_paginate(@categories) %> <br/><br/>

<% @categories.each do |cat| %>

	<li> <%= link_to cat.name, category_path(cat)  %>

<% if current_auth.admin == true %>
		<%= link_to 'edit' , edit_category_path(cat)  %>
		<%= link_to 'delete' , category_path(cat) ,{ :method => :delete ,:remote => true } %>
<% end %>
	</li>
<% end %>



<br/><br/>
<%= will_paginate(@categories) %>

